*{
    padding: 0%;
    margin: 0%;
}
.parent {
    height: 100vh;
    background-color: black;
}
.box1 {
    height: 200px;
    width: 200px;
    background-color: aqua;
    position: absolute;
    top: 3%;
    left: 3%;

}
.box2 {
    height: 200px;
    width: 200px;
    background-color: crimson;
    position: absolute;
    bottom: 3%;
    left: 3%;
    

}
.box3 {
    height: 200px;
    width: 200px;
    background-color: blue;
    position: absolute;
    bottom: 3%;
    right: 3%;

}
.box4 {
    height: 200px;
    width: 200px;
    background-color: purple;
    position: absolute;
    right: 3%;
    top: 3%;
    

}
.box1:hover {
    transition: rotate(180deg);
    transition-duration: 3s;
}
.parent2 {
    height: 100vh;
}
.circle {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: aquamarine;
}
.circle2 {
    height: 200px;
    width: 200px;
    border-radius: 50%  ;
}
@media (max-width: 100px) {
    .parent1 div {
        height: 100px;
        width: 100px;
        background-color: ;
        
    }

}


